.product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 15px;

  margin: 30px;
  padding: 30px;
  background-color: rgb(216, 243, 255);
  border-radius: 15px;

  .image {
    img {
      height: 300px;
      width: 300px;
      border-radius: 15px;
      object-fit: cover;
    }
  }
}

.store-product-list {
  margin-top: 40px;

  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // más tarjetas en fila
    gap: 25px;
    margin-top: 20px;
  }

  .card {
    background: #000; // fondo negro
    color: #fff; // texto blanco
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
    margin-bottom: 20px; // espacio extra debajo

    &:hover {
      transform: translateY(-5px);
    }

    img {
      border-radius: 8px;
      object-fit: cover;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 1.2rem;
      margin: 10px 0;
      text-align: center;
    }

    h3,
    .price {
      font-weight: bold;
      color: #4cafef; // celeste para el precio
      margin-bottom: 12px;
      text-align: center;
    }

    button {
      margin-top: auto;
      background: #4cafef;
      color: #fff;
      border-radius: 8px;
      padding: 8px 15px;
      border: none;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #2196f3;
      }
    }
     .card-content a[tuiButton] {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    background-color: #1db954;
    color: #fff;
    font-weight: 600;
    padding: 8px 0;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease;
    }

    .card-content a[tuiButton]:hover {
    background-color: #17a74a;
    }
  }
}
