<div class="crud-form-container">
  <h2>Agregar Nuevo Producto</h2>
  <form (submit)="onSubmit($event)" enctype="multipart/form-data">

    <div><label for="name">Nombre:</label><input type="text" id="name" name="name" required></div>
    <div><label for="description">Descripción:</label><textarea id="description" name="description" required></textarea></div>
    <div><label for="price">Precio:</label><input type="text" id="price" name="price" required></div>
    <div><label for="stock">Stock:</label><input type="number" id="stock" name="stock" required></div>


    <div>
      <label for="tienda_id">Tienda:</label>
      <select id="tienda_id" name="tienda_id" required>
        <option value="" disabled selected>Selecciona una tienda</option>
        <option *ngFor="let store of stores" [value]="store.id">{{ store.name }}</option>
      </select>
    </div>


    <div><label for="brand">Marca:</label><input type="text" id="brand" name="brand" required></div>
    <div><label for="type">Tipo:</label><input type="text" id="type" name="type" required></div>
    <div><label for="release_date">Fecha de Lanzamiento:</label><input type="date" id="release_date" name="release_date" required></div>
    <div><label for="link">Enlace de Compra:</label><input type="url" id="link" name="link" required></div>
    <div><label for="image">Imagen del Producto:</label><input type="file" id="image" name="image" accept="image/*" required></div>

    <button type="submit">Guardar Producto</button>
  </form>
</div>
